/* 
    Created on : Sep 7, 2024, 1:32:04 PM
    Author     : HARSH
*/

/*.carousel-item img {
    height: 500px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color: black;
    border-radius: 6px;
    padding: 15px;
}

.carousel-btn {
    background-color: #000 !important;
    height: 4px !important;
    width: 35px !important;
}*/

